In [2]:
import pandas as pd
import statsmodels.formula.api as smf

In [3]:
df = pd.read_csv('../data/gaji_dummy.csv')

In [6]:
print("=== 5 Data Pertama ===")
df.head()

=== 5 Data Pertama ===

   id  experience_years gender education_level  salary_million
0   1                10      L             SMA            14.0
1   2                 3      L             SMA             8.4
2   3                10      L              S2            17.3
3   4                 0      L             SMA             5.0
4   5                 9      L              S2            16.1

In [7]:
print("=== Distribusi Kategori ===")
df[["gender", "education_level"]].value_counts()

=== Distribusi Kategori ===

gender  education_level
L       SMA                7
        S2                 5
P       S2                 4
        SMA                2
L       S1                 1
P       S1                 1
Name: count, dtype: int64

In [ ]:
# 2. Model regresi dengan variabel dummy (pakai formula)
# salary_million ~ experience_years + gender + education_level
model = smf.ols(
    "salary_million ~ experience_years + C(gender) + C(education_level)",
    data=df
).fit()